doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    header
        img(src='imgs/header.jpg')
        h1 Ayurvedic Yoga Massage
    main
      nav
        ul
          li.tab.active(rel='welcome') Welcome
          li.tab(rel='treatments') Treatments
          li.tab(rel='training') Training & Workshops
          li.tab(rel='yoga') Yoga
          li.tab(rel='gallery') Gallery
          li.tab(rel='contact') Contact
      section
        //includes here for each tab
        h1 hi

