doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    #blackness
      header
        img#hero(src='imgs/hero2.jpg')
        h1 Ayurvedic Yoga Massage
        //- img#om(src='imgs/om.png')
      
    nav
      .tab#welcome Welcome
      .tab#treatments Treatments
      .tab#training Massage Training
      .tab#yoga Yoga Classes
      .tab#joyful Joyful Living
      .tab#dosha Dosha Principles
      .tab#gallery Gallery
      .tab#contact Contact
      
    main
      /// welcome
      section.welcome
  
        h2 What is Ayurvedic Yoga Massage?
        aside
          .text
            p.
              Ayurvedic Yoga Massage has its origins in India and is an ancient healing system
              that uses an effective combination of powerful deep tissue massage with coordinated
              breath work and yoga stretches.
            p.
              The Ayurvedic system stimulates, opens and balances the flow of energy throughout
              the body, assisting in our own natural tendency towards self-healing.

            p.
              Benefits include:
            ul
              li stress relief
              li elimination of toxins
              li stimulation of blood circulation
              li.
                muscular/skeletal realignment leading to improved posture, digestion,
                and increased flexibility
          .spacer
          .pic
            img(src='imgs/gall/gal2_th.jpg')
        //- .right
        h2 About me
        aside
          .pic
            img(src='imgs/portrait.jpg')
            a(href='https://www.facebook.com/saghar.amozgar')
              img(src='imgs/facebook.png')
          .spacer
          .text
            p.
              I am Saghar (Nasrien) Amozgar, Persian in origin.  I came to the UK in 2000 after 8 years
              of study in India, completing my PhD in Psychology and my journey of discovery into yoga,
              meditation, and traditional ayurvedic massage.
            p.
              I studied Ayurvedic Yoga Massage under the expert guidance of Swami Varidi, who trained
              with the renowned Kusum Modak herself.  I qualified in Pune 1999.  I continued to work
              closely with Swami Varidi, organising his courses in Europe and assisting him with their
              delivery in the UK.
            p.
              I was fortunate to study in Pune City in the neighbourhood of the Iyengar ashram.  My
              learning and understanding of yoga continued with my qualification from the Sivananda yoga
              center in Kerala, India in 2004.  Since then I have been teaching many classes including
              Muslim women community centres, children and open classes for all.
            p.
              I established the Ayurvedic Yoga Association in 2004.  My passion is sharing my
              experiences and insights gained over the years of body-work, not only through my
              therapeutic work with individuals, but also by running regular workshops and
              professional standard training courses for practitioners to spread this wonderful
              ancient technique around the globe.

        blockquote
          span.quote &ldquo;
          .testimonial.
            A massage with Saghar is a very special experience. She has an extraordinary talent for 'reading' the body and what it needs, and her massage is truly healing on both a physical and a psychological level.
          .punter Sarah  

      //
      /// treatments
      section.treatments
        h2 Massage Treatments
        aside
          .half
            p.
              Ayurvedic Yoga Massage is a form of deep-tissue massage which takes place on a floor mattress. It involves deep strokes and a series of yoga stretches to help to eliminate toxins and rejuvenate the body.
            p.
              In Ayurvedic Yoga Massage we use both the feet and the hands to manipulate the joints.
            p.
              One of the best things is using calamus powder which helps to stimulate, and is especially good for blood circulation.
          .half.right
            table
              thead.thead
                tr
                  th(colspan=3) Treatment types
              tbody
                tr
                  td Indian head massage
                  td 20 mins
                  td &pound;20
                tr
                  td Back and neck massage
                  td 30 mins
                  td &pound;30
                tr
                  td Full body massage
                  td 60 mins
                  td &pound;60
                tr
                  td Deluxe full body massage
                  td 90 mins
                  td &pound;80

        h2 Book a Massage
        aside
          .text
            p.
              Currently during the pandemic, I offer treatments at my home in Ottery St Mary, Devon.
            p.
              My current system is for you to first book a timeslot for a massage, then please use the button below to pay, thank you.
            button
              a(href='https://my.timetrade.com/book/B6MQM') book a massage timeslot
            
            button
              a(href='pages/pay4massage.html') pay for treatment
          .spacer
          .pic
             img(src='imgs/treatment.jpg')
          


        blockquote
          span.quote &ldquo;
          .testimonial.
            I am an Ayurveda practitioner myself, and in a moment of need, when acupuncture or physiotherapy were not helping my situation, I asked Saghar to have a series of focused massages to heal. After two massages only, my foot and my elbow, after six months of pain, were immediately better, and I realized that Saghar can deliver the real core of Ayurveda practice in a majestic way! Deep gratitude.
          .punter Kay

        blockquote
          span.quote &ldquo;
          .testimonial.
            After massages around the world over the years it is wonderful to actually find one of the best massages in my locality. Saghar's massage is not weak or general in any way, but specific and strong leaving your body both relaxed and rejuvenated.
          .punter Peter
      
      //
      /// training
      section.training
        h2 choo choo!     
      
      //
      /// yoga
      section.yoga
        h2 stretch!
      
      //
      /// yoyful
      section.joyful
        h2 😺
          
      //
      /// dosha
      section.dosha
        h2 dosha!     
          
      //
      /// gallery
      section.gallery
        h2 gallery!
      
      //
      /// contact
      section.contact
        h2 contact!
  
  ///       
  script(src='js/app.dev.js')