doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    header
        img(src='imgs/header.jpg')
        h1 Ayurvedic Yoga Massage
    main
      /// nav
      nav
        ul
          li.tab.active(rel='welcome') Welcome
          li.tab(rel='treatments') Treatments
          li.tab(rel='training') Training & Workshops
          li.tab(rel='yoga') Yoga
          li.tab(rel='gallery') Gallery
          li.tab(rel='contact') Contact
      
      /// welcome
      section.active
        //includes here for each tab
          //- article what can this be?
        
        h2 What is Ayurvedic Yoga Massage?
        
        .left
          p.
            Ayurvedic Yoga Massage has its origins in India and is an ancient healing system
            that uses an effective combination of powerful deep tissue massage with coordinated
            breath work and yoga stretches.
          p.
            The Ayurvedic system stimulates, opens and balances the flow of energy throughout
            the body, assisting in our own natural tendency towards self-healing.
    
        .right
          h2 bye
          p this n tht is here 

        h2 I said - What is Ayurvedic Yoga Massage?

        .left
          h2 new
          p new stuff
        
        .right
          p blah

      /// treaments
      section
        h2 treatments