doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    header
      h1 Ayurvedic Yoga Massage
    main
      nav
        ul
          li.active(rel='welcome') Welcome
          li.active(rel='treatments') Treatments
      section
        //includes here for each tab
        h1 hi

