doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    header
      h1 Ayurvedic Yoga Massage
      img#stretch(src='imgs/stretch.jpg')
      img#om(src='imgs/om.png')
    main
      /// nav
      nav
        ul
          li.tab.active(rel='welcome') Welcome
          li.tab(rel='treatments') Treatments
          li.tab(rel='training') Massage Training
          li.tab(rel='yoga') Yoga Classes
          li.tab(rel='joyful') Joyful Living
          li.tab(rel='dosha') Dosha Principles
          li.tab(rel='gallery') Gallery
          li.tab(rel='contact') Contact
      
      include includes/welcome.pug
      //- include includes/treatments.pug
      //- include includes/training.pug
      //- include includes/yoga.pug
      //- include includes/gallery.pug
      //- include includes/contact.pug