/// colours
  // general colours
  $pink = #E0B396
  $brown = #731C25
  $green = #4C6425
  $teal = #016AA7
  $powder = #C1E5F6
  $mustard_old = #D5A30B
  $mustard = #BD900A
  // $mustard = #b73950
  $lightMustard = rgba($mustard,0.4)  // #E4D19C
  $lightBrown = rgba($brown,0.9)
  $lightPink = rgba($pink,0.4)
  $white = lightness($mustard, 95)
  $om = #072966

  #blackness
    background black

  body
    color white
    background black

  header
    background black

  header h1
    color $white

  nav
    color black
    background $mustard
  
  nav .tab
    color $om

  nav .tab.active
    color black
    background $white

  section
    color black
    background $white


  // layout colours
  $bgcolor = black;  		// body background
  $navbar = $mustard;		// inactive nav bar
  $navactive = white;		// active nav link
  $navhover = $brown;		// tab on hover
  $content = white;		// inside tab color
  $tablehead = $brown;		// color of table furniture
  $tableHeadText = white;	// text color table head
  $tablebg = white;		// table background
  $activeacc = $mustard;	// active accordion!
  $acc = $lightMustard;	// unactive accordion
  $acchover = $brown;		// accordion hover
  $accText = $brown;		// accordion text
  $accTextHover = white;	// accordion text on hover
  $footer = $mustard;		// guess what
  $imgBorder = $brown;		// thin border around images

  // typography
  $navtext = blue;		// navigation text
  $navactive = black;		// active tab text color
  $contenttext = black;	// content text color




/// layout
  *
    margin 0
    padding 0
    box-sizing border-box
  
  body
    max-width 1360px
    margin 0 auto
    overflow-y scroll

  #blackness
    top 0
    z-index 5
    position sticky
  
  header
    top 0
    z-index 5
    height 400px
    position sticky
    text-align right
    transform-origin top right



  header img#hero
    // z-index 0
    transition 0.5s
    height 400px
    transform-origin top right
    // animation-name opac
    animation-duration 2s
    animation-fill-mode forwards

  
  header h1
    position absolute
    top 150px
    left 0
    z-index 12
    display inline
    // animation headingDown
    animation-duration 2s
    animation-fill-mode forwards

  @keyframes headingDown
    0%
      top -50px
    100%
      top 200px

  @keyframes headingUp
    0%
      top 200px
    100%
      top 100px

  nav
    top 230px
    position sticky
    // animation-name opac
    animation-duration 3s
    animation-fill-mode forwards
    z-index 5

  main
    margin 0 auto
    position relative
    // z-index -99
    z-index 1
    // opacity 0
    // animation-name opac
    animation-duration 3s
    animation-fill-mode forwards
    // max-width 1360px


  @keyframes opac
    0% 
      opacity 0
    100%
      opacity 1

  section
    opacity 0
    display none
    // flex-wrap wrap
    padding 1rem 2rem
    justify-content space-between
    transition opacity 2s
    &.active
      display inline-block
      animation-name opac
      animation-duration 1s
      animation-fill-mode forwards


  
  aside
    display flex

  .text
    // border 1px solid red

  .spacer
    // background orange
    min-width 3rem

  .pic
    // border 1px solid black
    text-align right

  .pic img
    width 200px
  
  .pic a img
    height 45px
    width 45px
    // text-align right
    // border 1px solid red

  section .right
    text-align left
    border 2px solid blue

  h2
    width 100%
    // margin 0.5rem 1rem

//
/// nav tabs

  nav
    display flex
    list-style-type none
    justify-content space-between
    flex-wrap wrap

  nav .tab
    padding 1rem
    cursor pointer
    border 2px solid orange
    flex-grow 1
    text-align center
    
/// typography

  body
    font-family 'Mulish', sans-serif
  
  h1, h2, h3, .tab
    font-family 'Philosopher', sans-serif

  h1
    font-size 4rem
  
  h2
    font-size 2.5rem
    margin-bottom 0.5rem

  h3
    font-size 1.5rem

  nav .tab
    font-size 2.5rem
    // font-weight bold

  p, li
    font-size 1.5rem
    line-height 1.4
    margin-bottom 0.5rem

  li
    margin-bottom 0

  ul
    margin-left 15rem
    margin-top -2.65rem
    display inline-block



//
/// and more

/// textimonial
  blockquote
    width 80%
    position relative
    border-radius 1rem
    padding 0.25rem 1rem
    margin 1rem auto 1.5rem auto
    background alpha($mustard, 0.5)
    border-left 15px solid $mustard

  span.quote
    left 1rem
    top -0.5rem
    font-size 7rem
    position absolute
    font-family sans-serif

  q
    border 1px solid red

  .testimonial
    margin-top 3rem
    font-size 1.5rem
    font-style italic
    
  .punter
    text-align right
    font-size 1.25rem