// @import 'layout'

// h1
//   color blue
//   font-size 4rem 

/// layout
  body
    background black
    color white

  header
    border 1px solid red
    text-align center
  
  main
    border 1px solid blue
    // min-height 800px
    background blue
    width  90%
    margin 0 auto

  nav
    border 1px solid orange
    background orange
  
  section
    background green