/// colours
  // general colours
  $pink = #E0B396
  $brown = #731C25
  $green = #4C6425
  $teal = #016AA7
  $powder = #C1E5F6
  $mustard_old = #D5A30B
  $mustard = #BD900A
  // $mustard = #b73950
  $lightMustard = rgba($mustard,0.4)  // #E4D19C
  $lightBrown = rgba($brown,0.9)
  $lightPink = rgba($pink,0.4)


  body
    color white
    background black

  header h1
    color white

  nav
    color black
    background $mustard
  
  nav li
    // background 

  nav li.active
    color black
    background white

  section
    color black
    background white
    // background lightness($mustard, 98%)


  // layout colours
  $bgcolor = black;  		// body background
  $navbar = $mustard;		// inactive nav bar
  $navactive = white;		// active nav link
  $navhover = $brown;		// tab on hover
  $content = white;		// inside tab color
  $tablehead = $brown;		// color of table furniture
  $tableHeadText = white;	// text color table head
  $tablebg = white;		// table background
  $activeacc = $mustard;	// active accordion!
  $acc = $lightMustard;	// unactive accordion
  $acchover = $brown;		// accordion hover
  $accText = $brown;		// accordion text
  $accTextHover = white;	// accordion text on hover
  $footer = $mustard;		// guess what
  $imgBorder = $brown;		// thin border around images

  // typography
  $navtext = blue;		// navigation text
  $navactive = black;		// active tab text color
  $contenttext = black;	// content text color




/// layout
  *
    margin 0
    padding 0
    box-sizing border-box
  
  body
    max-width 1200px
    margin 0 auto

  header
    // text-align right
    position relative
    margin-bottom 1rem

  // header img
  //   width 90%
  //   max-width 800px
  //   border 2px solid green

  header h1
    position absolute
    top 50%
    left 0%
  



  main
    // width  90%
    // max-width 1200px
    margin 0 auto

  section
    display none
    flex-wrap wrap
    padding 1rem 1rem
    justify-content space-between
    &.active
      display flex

  section > div
    // flex-grow 1
    // width 48%
    border 2px solid red
    // margin 0.5rem 1rem
    // padding 0rem 1rem

  section .right
    text-align left
    border 2px solid blue

  h2
    width 100%
    // margin 0.5rem 1rem

//
/// nav tabs

  nav ul
    display flex
    list-style-type none
    justify-content space-between
    flex-wrap wrap

  nav li
    padding 1rem
    cursor pointer
    border 2px solid orange
    flex-grow 1
    text-align center
    
/// typography

  body
    font-family 'Mulish', sans-serif
  
  h1, h2, h3, nav li
    font-family 'Philosopher', sans-serif

  h1
    font-size 4rem
  
  h2
    font-size 2rem

  h3
    font-size 1.5rem

  nav li
    font-size 2.5rem
    // font-weight bold

  p
    font-size 1.5rem

//
/// and more